trigger:
- poltest

variables:
  version: '1.0.0.$(Revision)'
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

jobs:
- job: BuildAndTest
  pool:
    vmImage: 'windows-latest'
  steps:
  - script: echo 'SCALUS Version - $(version)'
  - task: NuGetToolInstaller@1

  - task: NuGetCommand@2
    inputs:
      restoreSolution: '$(solution)'

  - task: VSBuild@1
    inputs:
      solution: '$(solution)'
      msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
      platform: '$(buildPlatform)'
      configuration: '$(buildConfiguration)'

  - task: VSTest@2
    inputs:
      platform: '$(buildPlatform)'
      configuration: '$(buildConfiguration)'

- job: Windows
  dependsOn: BuildAndTest
  pool:
    vmImage: 'windows-latest'
  steps:
  - task: Cake@2
    inputs:
      script: 'build.cake'
      target: 'Default'
      verbosity: 'Verbose'
      arguments: '--runtime=win10-x64 --Version=$(version)'
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(Pipeline.Workspace)/s/Output/Release/win10-x64'
      artifact: 'Scalus-Win10'
      publishLocation: 'pipeline'
  - task: SynopsysPolaris@1
      inputs:
        polarisCommand: 'analyze -w --incremental $CHANGE_SET_FILE_PATH'
        waitForIssues: true
        populateChangeSetFile: true

- job: Linux
  dependsOn: BuildAndTest
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - task: Cake@2
    inputs:
      script: 'build.cake'
      target: 'Default'
      verbosity: 'Verbose'
      arguments: '--runtime=linux-x64 --Version=$(version)'
  
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(Pipeline.Workspace)/s/Output/Release/linux-x64'
      artifact: 'Scalus-Linux'
      publishLocation: 'pipeline'

- job: Mac
  dependsOn: BuildAndTest
  pool:
    vmImage: 'macOS-latest'
  steps:
  - task: Cake@2
    inputs:
      script: 'build.cake'
      target: 'Default'
      verbosity: 'Verbose'
      arguments: '--runtime=osx-x64 --Version=$(version)'
  
  - task: Bash@3
    inputs:
      filePath: '$(Pipeline.Workspace)/s/scripts/Osx/package.sh'
      arguments: '--version $(version) --runtime osx-x64 --infile $(Pipeline.Workspace)/s/scripts/Osx/applet --outpath $(Pipeline.Workspace)/s/Output/Release/osx-x64 --publishdir $(Pipeline.Workspace)/s/Publish/Release/osx-x64' 

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(Pipeline.Workspace)/s/Output/Release/osx-x64'
      artifact: 'Scalus-Osx'
      publishLocation: 'pipeline'
