# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  rev: $(Rev:r)
  version: '1.0.0.$(rev)'
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- script: echo 'SCALUS Version - $(version)'
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: Cake@2
  inputs:
    script: 'build.cake'
    target: 'Default'
    verbosity: 'Verbose'
    arguments: '--runtime=win10-x64 --Version=$(version)'

- task: Cake@2
  inputs:
    script: 'build.cake'
    target: 'Default'
    verbosity: 'Verbose'
    arguments: '--runtime=linux-x64 --Version=$(version)'

- task: Cake@2
  inputs:
    script: 'build.cake'
    target: 'Default'
    verbosity: 'Verbose'
    arguments: '--runtime=osx-x64 --Version=$(version)'
    
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)/s/Output/Release/win10-x64'
    artifact: 'Scalus-Win10'
    publishLocation: 'pipeline'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)/s/Output/Release/linux-x64'
    artifact: 'Scalus-Linux'
    publishLocation: 'pipeline'