.container{
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content{
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
}

.footer{
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;  
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;  
}

.form {
  display: flex;
  flex-direction: column;  
}

.applications {
  width: 100%;
}

mat-expansion-panel.application{
  margin-bottom:10px;
}

.tokens-icon {
  cursor: pointer; 
  margin: 16px 10px 16px 0px;
}