<div class="container">

    <div class='content'>
        
        <mat-accordion class="applications">
            <mat-expansion-panel class="application" *ngFor="let a of applications">
            <mat-expansion-panel-header>
                <mat-panel-title>
                {{a.id}}
                </mat-panel-title>
            </mat-expansion-panel-header>
                <div class="form">
                    <mat-form-field appearance="outline" matTooltip="{{getTooltip('Id')}}">
                        <mat-label>ID</mat-label>
                        <input type="text" matInput [(ngModel)]="a.id">
                    </mat-form-field>
                    <mat-form-field appearance="outline" matTooltip="{{getTooltip('Name')}}">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput [(ngModel)]="a.name">
                    </mat-form-field>
                    <mat-form-field appearance="outline" matTooltip="{{getTooltip('Description')}}">
                        <mat-label>Description</mat-label>
                        <input type="text" matInput [(ngModel)]="a.description">
                    </mat-form-field>
                    <div class="row">
                        <mat-icon class="row-icon" 
                            matTooltip="Comma separated list.">
                            more
                        </mat-icon>
                        <mat-form-field class="row-formfield" appearance="outline" matTooltip="{{getTooltip('Platforms')}}">
                            <mat-label>Platforms</mat-label>
                            <input type="text" matInput [(ngModel)]="a.platforms">
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="outline" matTooltip="{{getTooltip('Protocol')}}">
                        <mat-label>Protocol</mat-label>
                        <input type="text" matInput [(ngModel)]="a.protocol">
                    </mat-form-field>
                    <div class="row">
                        <mat-icon class="row-click-icon" (click)="showTokens()" 
                            matTooltip="May contain Tokens, click to see the list.">
                            outbound
                        </mat-icon>
                        <mat-form-field class="row-formfield" appearance="outline" matTooltip="{{getTooltip('Exec')}}">
                            <mat-label>Exec</mat-label>
                            <input type="text" matInput [(ngModel)]="a.exec">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-icon class="row-icon" 
                            matTooltip="Comma separated list.">
                            more
                        </mat-icon>
                        <mat-icon class="row-click-icon" (click)="showTokens()" 
                            matTooltip="May contain Tokens, click to see the list.">
                            outbound
                        </mat-icon>
                        <mat-form-field class="row-formfield"  appearance="outline" matTooltip="{{getTooltip('Args')}}">
                            <mat-label>Args</mat-label>
                            <input type="text" matInput [(ngModel)]="a.args">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-icon class="row-icon" 
                            matTooltip="Comma separated list.">
                            more
                        </mat-icon>
                        <mat-form-field class="row-formfield" appearance="outline" matTooltip="{{getTooltip('ParserId')}}">
                            <mat-label>Parser ID</mat-label>
                            <input type="text" matInput [(ngModel)]="a.parser.parserId">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-icon class="row-icon" 
                            matTooltip="Comma separated list.">
                            more
                        </mat-icon>
                        <mat-form-field class="row-formfield" appearance="outline" matTooltip="{{getTooltip('Options')}}">
                            <mat-label>Options</mat-label>
                            <input type="text" matInput [(ngModel)]="a.parser.options">
                        </mat-form-field>
                    </div>
                    <mat-checkbox [(ngModel)]="a.parser.useDefaultTemplate" style="margin-bottom: 18px;" matTooltip="{{getTooltip('UseDefaultTemplate')}}">
                        Use Default Template
                    </mat-checkbox>
                    <div class="row">
                        <mat-icon class="row-click-icon" (click)="showTokens()" 
                            matTooltip="May contain Tokens, click to see the list.">
                            outbound
                        </mat-icon>
                        <mat-form-field class="row-formfield" appearance="outline" matTooltip="{{getTooltip('UseTemplateFile')}}">
                            <mat-label>Use Template File</mat-label>
                            <input type="text" matInput [(ngModel)]="a.parser.useTemplateFile">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-icon class="row-click-icon" (click)="showTokens()" 
                            matTooltip="May contain Tokens, click to see the list.">
                            outbound
                        </mat-icon>
                        <mat-form-field class="row-formfield" appearance="outline" matTooltip="{{getTooltip('PostProcessingExec')}}">
                            <mat-label>Post Processing Exec</mat-label>
                            <input type="text" matInput [(ngModel)]="a.parser.postProcessingExec">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-icon class="row-icon" 
                            matTooltip="Comma separated list.">
                            more
                        </mat-icon>
                        <mat-icon class="row-click-icon" (click)="showTokens()" 
                            matTooltip="May contain Tokens, click to see the list.">
                            outbound
                        </mat-icon>
                        <mat-form-field class="row-formfield" appearance="outline" matTooltip="{{getTooltip('PostProcessingArgs')}}">
                            <mat-label>Post Processing Args</mat-label>
                            <input type="text" matInput [(ngModel)]="a.parser.postProcessingArgs">
                        </mat-form-field>
                    </div>
                    <div class="row-reverse">
                        <button mat-flat-button color="primary" (click)="delete(a.id)">Delete</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>

    <div class="footer">
        
        <div class="row-reverse">
            <button mat-flat-button color="primary" style="margin-left: 10px;"
              (click)="cancel()">Cancel</button>
            <button mat-flat-button color="primary" style="margin-left: 10px;"
              (click)="save()">Save</button>
            <button mat-flat-button color="primary" 
              (click)="add()">Add</button>
        </div>
        
    </div>
    
</div>