<?xml version="1.0"?>
<?define ProductUpgradeCode="71bf8eb3-8498-438a-b1c4-e5165e0ed7a4"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" UpgradeCode="$(var.ProductUpgradeCode)"
		Name="scalus" Version="$(var.Version)" Manufacturer="One Identity" Language="1033">
		<Package InstallerVersion="$(var.Minimum_Version)" Compressed="yes" Comments="Windows Installer Package" InstallScope="perMachine"/>
		<Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

		<Upgrade Id="$(var.ProductUpgradeCode)">
			<UpgradeVersion Minimum="$(var.Version)" IncludeMinimum="no" OnlyDetect="no" Property="NEWERVERSIONDETECTED"/>
			<UpgradeVersion Minimum="0.0.0.0" Maximum="$(var.Version)" IncludeMinimum="yes" IncludeMaximum="yes" Property="OLDERVERSIONBEINGUPGRADED"/>
		</Upgrade>
		<Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>
    <MajorUpgrade AllowSameVersionUpgrades="yes" AllowDowngrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed. If you are sure you want to downgrade, remove the existing installation via Programs and Features." Schedule="afterInstallFinalize"/>

		<WixVariable Id="WixUILicenseRtf" Value="$(var.tmpdir)\license.rtf" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.Program_Files)" >
				<Directory Id="INSTALLDIR" Name="scalus">
					<Component Id="ApplicationFiles" Guid="ae36b4af-d3ac-4f74-bdaf-98587e6fffe8" >
						<File Id="AppFile1" Source="$(var.sourcedir)\appsettings.json" />
						<File Id="AppFile2" Source="$(var.sourcedir)\scalus.exe" />
						<File Id="AppFile3" Source="$(var.sourcedir)\web.config" />
						<File Id="AppFile4" Source="$(var.tmpdir)\readme.txt" />
					</Component>
					<Directory Id="ExampleDir" Name="Examples">
					<Component Id="ExampleFiles" Guid="1c2b8871-25c0-41a1-92f5-46104da2a0da" >
							<File Id="eg1" Source="$(var.tmpdir)\examples\examplePlugin.pl" />
							<File Id="eg2" Source="$(var.tmpdir)\examples\exampleRdpTemplate.rdp" />
							<File Id="eg3" Source="$(var.tmpdir)\examples\scalus.json" />
							<File Id="eg4" Source="$(var.tmpdir)\examples\rdp.remmina" />
							<File Id="eg5" Source="$(var.tmpdir)\examples\ssh.remmina" />
							<File Id="eg6" Source="$(var.tmpdir)\examples\RdpRemoteAppTemplate.rdp" />
					</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ProgramMenuSubfolder" Name="Scalus">
					<Component Id="ApplicationShortcuts" Guid="755ffdfc-4255-4374-99a5-e604984abb02">
						<Shortcut Id="ApplicationShortcut1" Name="ScalusUI" Description="Scalus UI" 
							Target="[INSTALLDIR]scalus.exe" WorkingDirectory="INSTALLDIR"/>
						<Shortcut Id="ApplicationShortcut2" Name="Readme" Description="Scalus Reame file" 
							Target="[INSTALLDIR]readme.txt" WorkingDirectory="INSTALLDIR"/>
						<RegistryValue Root="HKCU" Key="Software\OneIdentity\scalus" 
							Name="installed" Type="integer" Value="1" KeyPath="yes"/>
						<RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Scalus" />

		<Property Id="WixShellExecTarget" Value="[#AppFile2]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

		<UI>
			<UIRef Id="WixUI_Minimal" />
			<Publish Dialog="ExitDialog"
		    		Control="Finish" 
		        	Event="DoAction" 
				Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
			</Publish>
		</UI>
		
		<Property Id="WixShellExecReadFile" Value="[#AppFile5]" />
		<CustomAction Id="LaunchFile" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
	
		<Feature Id="DefaultFeature" Level="1">
			<ComponentRef Id="ApplicationFiles"/>
			<ComponentRef Id="ExampleFiles"/>
			<ComponentRef Id="ApplicationShortcuts"/>
		</Feature>
		<InstallExecuteSequence>
                  <Custom Action="UninstallScalus" After="InstallInitialize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL") </Custom>
                </InstallExecuteSequence>
		<CustomAction Id="UninstallScalus" Return="check" Impersonate="yes" Execute="deferred" Directory="INSTALLDIR" ExeCommand="[INSTALLDIR]scalus.exe unregister"/>
	</Product>
</Wix>
