<div class="container">

  <div class="header">
    <mat-toolbar >
      Session Client Application Launch Uri System (SCALUS)
    </mat-toolbar>
  </div>

  <div class="content" role="main" >
    
    <h2>SCALUS Protocols</h2>
    <div class="row">
      <mat-card class="protocol-config" *ngFor="let p of protocols">
        <mat-card-header>
          <mat-card-title>{{p.id}}</mat-card-title>
          <mat-card-subtitle>Set or change the application you want to launch {{p.id}} sessions on this machine.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Select an Application</mat-label>
              <mat-select [(value)]='p.mapping.appId' (selectionChange)="setApp('p.id', p.mapping.appId)" >
                <mat-option *ngFor="let c of p.configs" [value]="c.id">
                  {{c.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <div style="flex-grow: 1;">{{getSelectedDescription(p.mapping.appId)}}</div>
            <mat-icon aria-hidden="false" style="flex-grow: 0; justify-content: bottom; cursor: pointer;" 
              matTooltip="Delete Protocol" (click)="deleteProtocol(p.id)">delete</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    
    <h2>SCALUS Configuration</h2>
    <div class="row">
      <mat-card class="configuration">
        <mat-card-header>
          <mat-card-title>Add Protocol</mat-card-title>
          <mat-card-subtitle>Please type the name of the protocal you would like to add.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Protocol Name</mat-label>
              <input type="text" matInput [(ngModel)]="protocolName">
            </mat-form-field>
          </div>
          <button mat-flat-button color="primary" [disabled]='canAddProtocol()'
              (click)="addProtocol()">Add Protocol</button>
        </mat-card-content>
      </mat-card>
      <mat-card class="configuration">
        <mat-card-header>
          <mat-card-title>Manage Applications</mat-card-title>
          <mat-card-subtitle>Create update and delete SCALUS protocol applications.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <button mat-flat-button color="primary"
              (click)="manageApplications()">Manage</button>
        </mat-card-content>
      </mat-card>
      <mat-card class="configuration">
        <mat-card-header>
          <mat-card-title>Import Configuration File</mat-card-title>
          <mat-card-subtitle>Browse to the SCALUS configuration file you wish to import.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <button mat-flat-button color="primary"
              (click)="import()">Import</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="configuration">
        <mat-card-header>
          <mat-card-title>Export Configuration File</mat-card-title>
          <mat-card-subtitle>Export the SCALUS configuration file.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <button mat-flat-button color="primary"
              (click)="export()">Export</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!--<h2>Applications</h2>
    <div class="row">
      <mat-accordion class="applications">
        <mat-expansion-panel class="application" *ngFor="let a of config.applications">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{a.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          {{a.description}}
        </mat-expansion-panel>
      </mat-accordion>
    </div>-->
  </div>

  <div class="footer">
    <mat-toolbar>
      <div>
        <button mat-button color="accent">HELP</button>
      </div>
      <div style="margin-left:auto; display:table">
        <span style="font-size: 12px; font-weight: normal; display:table-cell; vertical-align: middle;">Powered by: &nbsp; </span>
        <span style="display:table-cell; vertical-align: middle;">ONE IDENTITY</span>
      </div>
    </mat-toolbar>
  </div>
</div>