.container{
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  background-color: #1CB0DD;
}

.header{
  flex-shrink: 0;
  flex-grow: 0;
}

.content{
  
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
  margin: 20px 0px 0px 30px;
}

.footer{
  flex-shrink: 0;
  flex-grow: 0;
}

.protocol-config {
  width: 350px;
  margin-right:30px;
}

.import-export {
  width: 250px;
}

div.row {
  display: flex;
  flex-direction: row;
  justify-content: top;  
}

.spaced {
  margin-left:30px;  
}

:host ::ng-deep .mat-card-header-text {
  margin: 0;
}